body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#message {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  background: #33333355;
  border-top: 5px solid #ffffff55;
  color: white;
}

.a-dom-overlay button {
  padding: 1em;
  appearance: none;
  background: #00000055;
  border: 3px solid white;
  border-radius: 1em;
  margin: 1em 1em 0 0;
  color: white;
}

/* Hide the controls unless in xr*/
#controls {
  display: none;
}
.a-dom-overlay:xr-overlay #controls {
  display: block;
}

#win_popup {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  visibility: hidden;
}

#win_popup > h1 {
  font-size: 5rem;
}
#win_popup > button {
  font-size: 2rem;
}
#win_popup > #confeti {
  position: absolute;
  pointer-events: none;
}

#header {
  display: flex;
}

#header > button {
  margin: auto 0;
  font-size: 1.1rem;
}

#label {
  display: flex;
  padding: 0 1em;
  background: #33333380;
  border: 5px solid #ffffff8a;
  color: white;
  font-size: 1.1rem;
}

#label > p {
  margin: auto;
}

.dropbtn {
  color: white;
  font-size: 1.1rem;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.dropdown > button {
  margin: auto;
}

.dropdown-content {
  display: none;
  flex-flow: column;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content > button {
  margin: 0.5rem;
}

#controls-panel,
#controls-background {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
#controls-background {
  z-index: 0;
  height: 100vh;
}

#controls-panel {
  height: 100%;
}

#instructions-container {
  z-index: 0;
  width: 100vw;
  height: 80vh;
  overflow: auto;
}

#instructions {
  display: grid;
  justify-items: center;
  align-content: center;
  margin: auto;
  z-index: 0;
  width: 90%;
}

#controls-background > div {
  height: 100%;
}

.controls-rotate {
  background-color: rgba(0, 183, 255, 0.37);
  width: 15%;
}

.controls-teleport {
  background-color: rgba(255, 38, 0, 0.37);
  width: 70%;
}

.instructions-text {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 20px;
  text-align: center;
}
.instructions-text > p {
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0.5rem 0 0 0;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 20px;
  text-align: center;
}

#instructions > div {
  width: 70vw;
}

#instructions > div > svg:last-child {
  float: right;
}

#btn-jugar {
  font-size: 1rem;
  margin: auto;
  padding: 1rem 2rem;
}

#btn-init-container{
    position: absolute;
    bottom: 10px;
    z-index: 1;
}